<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logeate en nuestra app</h1>
    <form action="" method="post">
        <div>
            <label for="mail">Ingresa tu mail</label>
            <input type="mail" name="mail" id="mail" />
        </div>
        <div>
            <label for="password">Ingresa tu contraseña</label>
            <input type="password" name="password" id="password" />
        </div>
        <button type="submit">Ingresar</button>
        <a href="/register"> ¿Todavia no estas registrado?</a>

    </form>
    {{#if error}}
    {{error}}
    {{/if}}
</body>
</html>